$main-color: red;

//font
$font-family: 'Montserrat', Roboto, sans-serif;


//text && link color
$text-primary: #413F3F;
$text-black: #000;
$text-white: #FFF;

//background-colors
$bg-color-white: #FFF;
$bg-color-light-white: #F6F9FF;
$bg-color-blue: #031BFF;


//font-size
//$font-size12:

